* {
  position: center;
}

body {
  background-color: #ccdbdb;
  font-family: Arial;
}

.main-project-image {
}

.project {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.project .main-project .title-container {
  position: absolute;
  background: brown;
}
